<div id="pageTitle">
	<h1><%= @mytask.name%></h1>
</div>

<div id="toolbar">
        <%= link_to "Back", :action => :index %>
        <%= link_to "Edit", :action => :edit, :id => @mytask.object %>
</div>


<div id="content">

    <table>
      
      <tr>
    	<td class="itemLabel">Name</td>
        <td class="itemValue"><%= @mytask.name%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Description</td>
        <td class="itemValue"><%= @mytask.description%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Startdate</td>
        <td class="itemValue"><%= @mytask.startdate%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Enddate</td>
        <td class="itemValue"><%= @mytask.enddate%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Priority</td>
        <td class="itemValue"><%= @mytask.priority%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Category</td>
        <td class="itemValue"><%= @mytask.category%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Location</td>
        <td class="itemValue"><%= @mytask.location%></td>
      </tr>
      
    </table>
</div>